{% extends 'layout.html' %} {% block title%}Login In{% endblock%} {% block body
%}
<form class="form-signin" method="post" action="/join">
  <h1 class="h3 mb-3 font-weight-normal">Please logo in with a username</h1>
  <div class="form-group">
    <label for="display_name">
      Display Name
    </label>
    <input
      class="form-control"
      maxlength="20"
      name="display_name"
      id="display_name"
      value="display_name"
      type="text"
      required
    />
  </div>
  <br />
  <button class="btn btn-block btn-primary" type="submit"/>Join</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
{% endblock%}
